<h2>Add New User</h2>
<form action="/tasks" method="POST">
    Title: <input type="text" name="title" required> <br />
    description: <textarea name="description" required></textarea><br />

    <button type="submit">Assign Task User</button>
</form>