<h2>Add New User</h2>
<form action="/user" method="POST">
    Name: <input type="text" name="name" required> <br />
    Email: <input type="email" name="email" required> <br />
    Number: <input type="number" name="contact" required> <br />
    <button type="submit">Create User</button>
</form>